<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <link rel="stylesheet" href="/css/main/index.css"/>
</head>

<header>
    <div class="title">
        <h1>My Works</h1>
        <div class="header-icon">
            <i class="fa-solid fa-plus fa-beat fa-4x" style="color: #1869A6;"></i>
            <i class="fa-solid fa-right-from-bracket fa-2x" style="color: #1869A6;"></i>
        </div>
    </div>
    <div class="toggles">
        <button id="showall">Show All</button>
        <button id="web">Web Design</button>
        <button id="ux">UX Design</button>
        <button id="graphic">Graphic Design</button>
        <button id="motion">Motion Graphic</button>
    </div>
</header>

<body>

<div id="wrapper">

    <div class="posts">
        <div class="motion post">Motion Design</div>
        <div class="web post">Web Design</div>
        <div class="ux post">UX Design</div>
        <div class="graphic post">Graphic Design</div>
        <div class="web post">Web Design</div>
        <div class="ux post">UX Design</div>
        <div class="web post">Web Design</div>
        <div class="motion post">Motion Design</div>
        <div class="graphic post">Graphic Design</div>
    </div>
</div>
</body>

<script src="/js/main/index.js"></script>

</html>