@import url('https://use.fontawesome.com/releases/v6.1.1/css/all.css');

.title {
    width: 800px;
    margin: 0 auto; /* 좌우 여백을 자동으로 조절하여 가운데 정렬 */
    text-align: center; /* 내부 텍스트를 가운데 정렬 */
    position: relative; /* 자식 요소를 포함하는 부모의 기준으로 사용 */
}

h1 {
    text-align: center;
    color: #1869A6;
    font: bold 50px Arial;
    padding: 18px;
    border-bottom: 1px solid;
    width: 250px;
    margin: 0 auto 30px;
}


.header-icon{
    position: absolute; /* 아이콘을 절대 위치로 설정 */
    bottom: 0; /* 아이콘을 아래쪽으로 정렬 */
    right: 0; /* 아이콘을 오른쪽으로 정렬 */
    margin: 0; /* 아이콘과 제목 사이의 간격 설정 제거 */
    color: #1869A6;
}

.header-icon i {
    margin-right: 18px; /* 아이콘들 간의 오른쪽 여백 설정 */
}

.toggles {
    width: 800px;
    margin: auto;
    display: block;
    clear: both;
    overflow: hidden;
}

button {
    border: 2px solid #1869A6;
    border-radius: 40px;
    color: #1869A6;
    display: block;
    float: left;
    margin: auto;
    padding: 10px;
    width: 150px;
    cursor: pointer;
    font-size: 14px;
    margin: 0 5px;
}

.posts {
    width: 800px;
    margin: 2em auto;
}
.posts div {
    font: 16px/250px Arial;
    width: 245px;
    height: 250px;
    float: left;
    margin: 10px;
    display: block;
    text-align: center;
    background: #1869A6;
    color: #fff;
}